body{
    font-family: "New Amsterdam", sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
h2{
   text-align: center;
}
article{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items:center;
}
.item{
    padding: 20px;
    
}
.img{
    padding: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer{
    position: relative;
    top: 600px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.b1{
   position: absolute;
   left: 0;
}
.b2{
    position: absolute;
    right: 0;
    
}

a{
    box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:42px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
   
}
a:hover{
    background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
body>header,article,footer{
    padding: 100px;
}